AYMADA_SERVICE_URL=https://portal.aymada.com/WebService/WSAccountEntegration.asmx
AYMADA_PRODUCT_SERVICE_URL=https://portal.aymada.com/WebService/WSIntegrationProduct.asmx
AYMADA_FIRM_API_CODE=
AYMADA_USERNAME=
AYMADA_PASSWORD=
AYMADA_STOCK_START_DATE=2000-01-01T00:00:00
AYMADA_STOCK_IS_COMPLETE=true
AYMADA_STOCK_DEBUG=false
